$white: #fff;
$black: #111;

$pink: #AC6D70;
$skyblue: #55A4A8;
$slateblue: #547487;
$darkgrey: #404F5F;
$silvergrey: #CCDBDC;


// other colors

$background-color: #f9f9f9;
$border-color: rgba(213, 213, 214, 0.3);